.inputSearchBar {
  background-color: #313131;
  color: white;
  border: 0px;
  width: 100% !important;
  margin: 0.5rem;
}

.formContainer {
  width: 100%;
  flex-flow: wrap;
}

.navBar {
  background-color: #454545;
}

.selectContainer {
  width: 100% !important;
  margin: 0.5rem;
  background-color: #313131;
  color: white;
  border: 0px;
}

.navButton {
  width: 100%;
  margin: 0.5rem;
}

@media only screen and (min-width: 900px) {
  .inputSearchBar {
    width: 60% !important;
    background-color: #313131;
    color: white;
    border: 0px;
    box-sizing: border-box;
  }

  .formContainer {
    width: 100%;
    flex-flow: nowrap;
  }

  .navBar {
    background-color: #454545;
  }

  .selectContainer {
    width: 25% !important;
    background-color: #313131;
    color: white;
    border: 0px;
    margin: 0px 1rem;
    box-sizing: border-box;
  }

  .navButton {
    width: 10%;
    box-sizing: border-box;
  }
}
